.ana {background-color:antiquewhite;
    border-style:solid;
    border-top-color: blue;
    border-bottom-color:red;
    border-right-color:green;
    border-left-color: yellow;
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
    box}
.are {padding: 10px 20px; background-color: rgb(195, 207, 80); color:rgb(104, 104, 235); border: dashed;}
.mere {padding: 10px 20px 5px; background-color: rgb(195, 207, 80); color:rgb(104, 104, 235); border:dotted;}
.rosii {padding: 10px 15px 20px 25px; background-color: rgb(195, 207, 80); color:rgb(104, 104, 235)
}
.ana {
    width: 200px;
    height: 100px;
  }
  
  .are {
    margin-bottom: 20px;

  }
  
  .mere {
    margin-top: 10px;
  }