:root {

     --dm700-s14-lh18: normal normal 700 14px/18px 'DM Sans', sans-serif;
     --dm700-s18-lh24: normal normal 700 18px/24px 'DM Sans', sans-serif;
     --dm700-s24-lh28: normal normal 700 24px/28px 'DM Sans', sans-serif;
     --dm700-s32-lh38: normal normal 700 32px/38px 'DM Sans', sans-serif;
     --dm500-s12-lh14: normal normal 500 12px/14px 'DM Sans', sans-serif;
     --dm500-s18-lh24: normal normal 500 18px/24px 'DM Sans', sans-serif;
     --dm500-s28-lh28: normal normal 500 28px/28px 'DM Sans', sans-serif;
     --dm500-s32-lh32: normal normal 500 32px/32px 'DM Sans', sans-serif;
     --dm500-s40-lh44: normal normal 500 40px/44px 'DM Sans', sans-serif;
     --dm500-s50-lh54: normal normal 500 50px/54px 'DM Sans', sans-serif;
     --dm500-s54-lh54: normal normal 500 54px/54px 'DM Sans', sans-serif;
     --dm500-s64-lh64: normal normal 500 64px/64px 'DM Sans', sans-serif;
     --dm400-s12-lh14: normal normal 400 12px/14px 'DM Sans', sans-serif;
     --dm400-s14-lh18: normal normal 400 14px/18px 'DM Sans', sans-serif;
     --dm400-s18-lh24: normal normal 400 18px/24px 'DM Sans', sans-serif;
 
     --yellow: #F5CE13;
 
     --green: #A4CB66;
 
     --pink: #AE1332;
     --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }
 body {
    background-color: var(--pink);
}

.js-menu-container {display: none;
  cursor: pointer;
  background-color: var(--pink);}
.js-menu-container.is-open {position: fixed;
    top: 16px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 20;}
.mobile-modal-header {
                      display: flex;
                      flex-direction: row;
                      color: var(--pink);
                      font: var(--dm700-s14-lh18);
                      width: 100vw;
                      padding-left:20px;
                      padding-right: 20px;
                      background-color: white;
                      justify-content: space-between;}
.mobile-modal-header span {padding-top: 10px;
                           padding-bottom: 10px;}
.mobile-modal-header .js-close-menu {background-color: white;
                                     border: none;}
                      
                   

/* NAVIGATION */
.navigation-top {background-color: white;}
.nav-bar {display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-left: 32px;
          padding-right: 32px;
          color: var(--pink);}
.nav-bar ul {list-style-type: none;
                    flex-direction: row;
                    padding-inline-start:0px;
                    /*gap: 20px; d
                     gap: 16px; t
                     width: 208px; d
                     width: 200px; t*/
                    font: var(--dm400-s14-lh18);
                    letter-spacing: -0.04em;
                    margin-top: 16px;
                    margin-bottom: 16px;}
.nav-bar a {text-decoration: none;
                         color: var(--pink);}
.nav-bar .cubic-text {display: flex;
                     flex-direction: row;
                     justify-content: space-between;
                     gap:8px;
                     font: var(--dm700-s14-lh18);
                     letter-spacing: -0.04em;
                     align-items: center;}
    /*MODAL*/
    /*.js-menu-container {width: 100%;
                       z-index:10;
                       background-color: yellow;
                       position: absolute;
                       top: 0;
                       left: 0;}
    .menu-toggle {background-color:white;
                  border: none;}
    .nav-modal-nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;}
    .nav-modal-nav .cubic-text {padding-top: 0px;}
    .nav-modal-sigla {padding-top: 0px;}*/
    /*Mobile-menu*/

  
    /* end Mobile-menu*/



@media screen and (min-width: 300px) 
{
    .nav-bar {min-width: 375px;
              padding-top: 16px;
              padding-bottom: 16px;}
    .nav-bar ul {display: none;}
    .nav-order {display: none;}
    .cubic-text {position: absolute;
                 left:32px;
                 top: 16px;}
    .nav-mobile {display: block;}

  }
  
  @media screen and (min-width: 768px) 
  {
    .nav-bar {width: 768px;}
    .nav-bar ul {display: flex;
                 gap: 16px;
                 margin-right: 94px;}
    .cubic-text {margin-right: 226px;
                    position: static;}
    .nav-mobile {display: none;}
    .nav-order {display: block;}
    .nav-mobile {display: none;}
    }
  
  @media screen and (min-width: 1280px) 
{
    .nav-bar {width: 1280px;
              margin: 0 auto;}
    .nav-bar ul {display: flex;
                 gap: 21px;
                 margin-right: 330px;}
    .cubic-text {margin-right: 502px;
                    position: static;}
    .nav-mobile {display: none;}
    .nav-order {display: block;}
    .menu-toggle {display: none;}
  }
/*END NAVIGATION */ 

