.object-fit {height: 700px;
            width: 700px;
            background-color: greenyellow;}
.object-fit > img {display: block;
                height: 50%;
                width: 50%;
                object-fit: scale-down;}
.box::before {
                    content: 'This is the text in ::before';
                    font-size: 40px;
                    color: orange;
                  }
.box:hover::before {
                    color: green;
                  }
