:root {

     --dm700-s14-lh18: normal normal 700 14px/18px 'DM Sans', sans-serif;
     --dm700-s18-lh24: normal normal 700 18px/24px 'DM Sans', sans-serif;
     --dm700-s24-lh28: normal normal 700 24px/28px 'DM Sans', sans-serif;
     --dm700-s32-lh38: normal normal 700 32px/38px 'DM Sans', sans-serif;
     --dm500-s12-lh14: normal normal 500 12px/14px 'DM Sans', sans-serif;
     --dm500-s18-lh24: normal normal 500 18px/24px 'DM Sans', sans-serif;
     --dm500-s28-lh28: normal normal 500 28px/28px 'DM Sans', sans-serif;
     --dm500-s32-lh32: normal normal 500 32px/32px 'DM Sans', sans-serif;
     --dm500-s40-lh44: normal normal 500 40px/44px 'DM Sans', sans-serif;
     --dm500-s50-lh54: normal normal 500 50px/54px 'DM Sans', sans-serif;
     --dm500-s54-lh54: normal normal 500 54px/54px 'DM Sans', sans-serif;
     --dm500-s64-lh64: normal normal 500 64px/64px 'DM Sans', sans-serif;
     --dm400-s12-lh14: normal normal 400 12px/14px 'DM Sans', sans-serif;
     --dm400-s14-lh18: normal normal 400 14px/18px 'DM Sans', sans-serif;
     --dm400-s18-lh24: normal normal 400 18px/24px 'DM Sans', sans-serif;
 
     --yellow: #F5CE13;
 
     --green: #A4CB66;
 
     --pink: #AE1332;
     --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }
 body {
    background-color: var(--pink);
}
/* NAVIGATION */
.navigation-top {display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 32px;
                padding-right: 32px;
                color: var(--pink);
                background-color: white;
                width: 1280px;
                margin: 0 auto 200px auto}
.navigation-top ul {list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    /*gap: 16px;
                     gap: 20px;
                     width: 208px;
                     width: 200px;*/
                    width: 200px;
                    font: var(--dm400-s14-lh18);
                    letter-spacing: -0.04em;}
.navigation-top a {text-decoration: none;
                         color: var(--pink);}
.navigation-top .cubic-text {display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 156px;}

/*END NAVIGATION */ 

