div {box-sizing: border-box;
  width: 700px;
  padding: 50px 150px;
  background-color: greenyellow;
  Color:grey;
  font-weight: 700;
  font-size: larger;}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 2px;
  border: 2px dashed #2a2a2a;
  border-radius: 8px;
  fill: #2a2a2a;
  }
